# Игнорируем подкаталог tmp
tmp/
# Игнорируем все файлы заканчивающиеся на _old
_old
# игнорируем все файлы заканчивающиеся на _backup
_backup
# Игнорируем все файлы Thumbs.db
Thumbs.db
# Игнорируем все файлы .DS_Store
.DS_Store